img {
    max-width: 100%;
}

.wrapper {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.menu {
    background: lightgrey;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
}
.main {
    border: 1px dimgray;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
    flex: 1;
}

@media ( max-width: 800px){
    .container{
        display: block;
    }
}

