body {
    background-color: sandybrown;
    background-position: inherit;
}
h1{
    font-family: Arial;
    margin-left: 385px;
}
h2 {
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
}
p1 {
    margin-top: 20px;
    font-family: Arial;
    font-size: 15px;
}