body {
    background-color: sandybrown;
    background-position: inherit;
}
h1{
    font-family: Arial;
    padding-left: 10px;
    width:100%;
}
h2 {
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
    width:100%;
}
p1 {
    margin-top: 20px;
    font-family: Arial;
    font-size: 15px;
    width:100%;

}
h3 {
    font-family: Arial;
    font-size: 16px;
    width:100%;
}
ul {
    font-family: Arial;
    font-size: 14px;
    width:100%;
}



